[submodule "Libraries/MC2AddonLib"]
	path = Libraries/MC2AddonLib
	url = https://github.com/Mundocani/MC2AddonLib
[submodule "Libraries/MC2DebugLib"]
	path = Libraries/MC2DebugLib
	url = https://github.com/Mundocani/MC2DebugLib
[submodule "Libraries/MC2EventLib"]
	path = Libraries/MC2EventLib
	url = https://github.com/Mundocani/MC2EventLib
[submodule "Libraries/MC2SchedulerLib"]
	path = Libraries/MC2SchedulerLib
	url = https://github.com/Mundocani/MC2SchedulerLib
[submodule "Libraries/MC2UIElementsLib"]
	path = Libraries/MC2UIElementsLib
	url = https://github.com/Mundocani/MC2UIElementsLib
